{% extends 'PokeBundle::base.html.twig' %}
{% block title %}
    Welcome!
{% endblock %}

{% block content %}
<h1>Search a Pokemon!</h1>
    {% include '@Poke/parts/search_form.html.twig' with{'form':form} only %}
{% endblock %}
