{% extends 'PokeBundle::base.html.twig' %}
{% block title %}
    Pokepedia: {{ pokemonData.name|humanize }}
{% endblock %}

{% block content %}
    <h1>{{ pokemonData.name|humanize }}</h1>
{% endblock %}
