{% extends 'PokeBundle::base.html.twig' %}
{% block title %}
    Pokepedia: {{ name|humanize }}
{% endblock %}

{% block content %}
    <h1>{{ name|humanize }}</h1>

    <img src="{{ sprites.default }}">

    <p>Weigth: {{ weight }}</p>
{% endblock %}
