{% extends 'PokeBundle::base.html.twig' %}
{% block title %}
    Welcome!
{% endblock %}

{% block content %}

    {% set nbResults = searchResults|length %}
    <h1>
        {% transchoice nbResults %}
        {0} No results!|{1} One result|]1,Inf[ %nbResults% results
        {% endtranschoice %}
    </h1>


    {% if searchResults is not empty %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
        {% for result in searchResults %}
            <tr>
                <td><a href="{{ path('pokemon_details', {'name': result}) }}">{{ result|humanize }}</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
