{% extends 'base.html.twig' %}
{% block title %}
    {% trans %}Welcome!{% endtrans %}
{% endblock %}

{% block content %}
<h1>{% trans %}Search a Pokemon!{% endtrans %}</h1>
    {{ render(controller('PokeCliBundle:Cli:renderSearchForm' )) }}
{% endblock %}
