{% extends 'base.html.twig' %}
{% block title %}
    {% trans %}Welcome!{% endtrans %}
{% endblock %}

{% block content %}
    <div class="text-center">

        <img class="pokemon-logo" src="{{ asset('bundles/pokecli/images/pokemon_logo.png') }}">

        <div class="index-form">
        <h1>{% trans %}Search for a Pokémon!{% endtrans %}</h1>

        {{ render(controller('PokeCliBundle:Cli:renderSearchForm' )) }}

            <p>or <a href="{{ path('get_random_pokemon') }}">choose a random Pokémon!</a></p>
        </div>
    </div>
{% endblock %}
