{% extends 'base.html.twig' %}
{% block title %}
    Welcome!
{% endblock %}

{% block content %}
<h1>Search a Pokemon!</h1>
    {{ render(controller('PokeCliBundle:Cli:renderSearchForm' )) }}
{% endblock %}
