.normal-type{ background-color: #A8A878; }
.fire-type{ background-color: #F08030; }
.fighting-type{ background-color: #C03028; }
.water-type{ background-color: #6890F0; }
.poison-type{ background-color: #A040A0; }
.grass-type{ background-color: #78C850; }
