<h2>Stats Comparator</h2>

<p>
    This graph compares {{ name|humanize }} base stats with average stats of Pokemon of the same type(s).
</p>
<p>
    You can also add / remove others types stats by clicking on the legend labels.
</p>

<canvas height="200" id="myChart"></canvas>

<script src="{{ asset('assets/vendor/chart.js/dist/Chart.js') }}"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: {{ statNames|keys|json_encode|raw }},
            datasets: {{ chartData|json_encode|raw }}
        },
        options: {
            layout: { padding : 10 },
            legend: {
                position: 'bottom',
                labels: {
                    padding: 40
                }
            }
        }
    });
</script>
